* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: 'Oswald';
  color: #000;
  height: 100%;
  
  padding: 2rem 3rem;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 0 9px #000;

  &::before {
    border: 9px solid #000;
    display: block;
    content: "";
    border-radius: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.site {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

p {
  font-family: 'Lato';
  line-height: 1.4rem;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2, h3, h4 {
  font-family: 'Lato';
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
  grid-column: 1/-1;

  a {
    text-decoration: none;
    color: #000;
  }
}

h2 {
  margin-bottom: .5rem;
  grid-column: 1/-1;
  
  .categories &,
  .tags & {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: .9rem;
    font-weight: 400;
  }
}

h2 a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: .8rem;

    a {
      font-family: 'Lato';
      color: #000;
    }

    &::before {
      content: '\2022';
      position: absolute;
      left: 0;
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
  }
}

.categories,
.tags {
  margin-top: .5rem;
}

.post-meta {
  font-family: 'Lato';

  &__group {
    display: inline-flex;
  }

  &__key {
    font-weight: 700;
    margin-right: .3rem;
  }

  &__categories {
    margin-right: .6rem;
  }
}